# IDE & System Related Files
.buildpath
.project
.settings
.DS_Store
.idea
.vscode
.docker
/docker-compose.yml
/nbproject
/.devcontainer
/.github
/.vscode

# OSX
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
Desktop.ini

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Output of 'npm run build_zip'
*.zip
*.tar
*.tar.gz

# Demo files
demo/*.ttf
demo/*.woff2
demo/app.css
demo/facebooklike_dlg.css
demo/facebooklike_dlg.min.css
demo/shariff.complete.css
demo/shariff.complete.js
demo/shariff.complete.min.css
demo/shariff.complete.min.js
demo/shariff.min.css
demo/shariff.min.min.css

# Distribution
dist

# test files
test/shariff.complete.js
