.shariff {
    .twitter {
        a {
            background-color: #000;

            &:hover {
                background-color: #333;
            }
        }

        .fa-x-twitter {
            font-size: 28px;
        }
    }

    .theme-white {
        .twitter a {
            color: #000;
        }
    }
}

@media only screen and (width >= 600px) {
    .shariff {
        .twitter .fa-x-twitter {
            font-size: 24px;
        }
    }
}
